body {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.mdl-card {
	width:100%;
}
.mdl-card__supporting-text {
	width:auto;
}
.mdl-card__actions {
	text-align: right;
}
.mdl-tabs__tab>.material-icons {
	line-height: inherit;
}
#dataout {
	width: 100%!important;
}
@media only screen and (max-width: 760px),
{
	.mdl-data-table td {
		text-align: justify;
	}
	.mdl-data-table th {
		text-align: left;
	}
}
