body {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.mdl-card {
	width: 100%;
}

.mdl-layout__tab-panel {
	box-sizing: border-box;
	min-height: calc(100% - 164px);
}
.mdl-layout .mdl-layout__content {
	height: 100%;
}
.mdl-card__actions {
	text-align: right;
}
.mdl-tabs__tab>.material-icons {
	line-height: inherit;
}
.mdl-layout__header-row .mdl-button {
	margin-left: 10px;
}
.content-hidden .mdl-card__supporting-text {
	display: none;
}
.content-hidden .mdl-card__actions {
	display: none;
}
.content-hidden {
	min-height: 60px;
}
.toggle-card--content__icon {
	transition-property: transform;
	transition-duration: 0.2s;
	color: white;
}
.content-hidden .toggle-card--content__icon {
	transform: rotate(-180deg);
}
#dataout {
	width: 100%!important;
}
@media only screen and (max-width: 760px),
{
	.mdl-data-table td {
		text-align: justify;
	}
	.mdl-data-table th {
		text-align: left;
	}
}
.mdl-card__title-text{
	text-transform: uppercase;
}
